@media screen and (max-width:768px) {
  header {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 10px;
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 4;
    background: rgba(100, 100, 100 ,.1);
    backdrop-filter: blur(5px);
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  box-shadow: 0 0 5px #0E1318;
  width: 100%;
}
header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.item {
  display: block;
  text-decoration: none;
  color: var(--dark-color);
  transition: all .2s ease;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 1rem;
}
.item:hover{
  background: var(--darken-primary-color);
}
.active{
  transform: scale(1.1);
  color: white;
  font-weight: 500;
  background-color: var(--primary-color);
}
.logo {
  font-family: var(--main-font-family);
  font-weight: 200;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--light-color);
}
.part-of-logo{
  font-weight: 400;
  color: var(--primary-color);
}
.cv {
  display: block;
  text-decoration: none;
  color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;
  transition: all .3s ease;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  max-width: 125px;
  width: 100px;
  height: 33px;
  max-height: 33px;
}
.cv li {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
}
.effect{
  display: inline-block;
  transition: all 1s ease;
  position: absolute;
  top: -50px;
  left: -10px;
  width: 0;
  height: 0;
  border-radius: 50%;
  z-index: 1;
}
.cv:hover{
  color: var(--dark-color);
}
.cv:hover> .effect {
  width: 150px;
  height: 150px;
  background: var(--light-color);
}
.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 20px 0;
}
.nav-item {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  color: var(--light-color);
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
}
.nav-item::after{
  content: '';
  transition: .5s linear;
  width: 0;
  height: 4px;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.nav-item:hover::after /*, .active-nav::after*/{
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
}
.active-nav::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
  bottom: -2px;
  left: 0;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}




































