.services{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-service-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 50px;
}
.services-title {
  margin: 40px 0;
  font-weight: 400;
}
