.container-about {
  width: 100%;
  height: max-content;
  padding: 50px;
}
.about-container {
  width: 100%;
  overflow: hidden;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--light-color);
}
.img-about{
  width: 45%;
  height: 32rem;
  object-fit: cover;
}

.about-title{
  margin: 20px 0;
  font-size: 3rem;
  font-weight: 400 ;
  color: var(--light-color);
}
.about-me {
  font-size: 1.2rem;
  color: var(--light-color);
}
.my-name {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
}


@media screen and (max-width:768px){
  .container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  .about-title {
   margin: 150px 0 20px 0; 
  }
  .img-about{
    width: 100%;
  }
}


