.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: max-content;
  width: 100%;
  max-width: 100%;
  position: relative;
}
.projects-container {
  height: max-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-bottom: 20px;
}
.projects>h1.title {
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 500;
}
.circle{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--primary-color);
  box-shadow: 0 0 20px var(--darken-primary-color);
  z-index: -1;
}
.circle:nth-child(1){
  left: 50px;
  top: 50px;
  animation: topRight 5s linear infinite;
}
.circle:nth-child(2){
  right: 50px;
  top: 100px;
  animation: linear 6s topLeft infinite;
}
.circle:nth-child(3){
  left: 60px;
  bottom: 100px;
  animation: bottomLeft 6s linear infinite;
}
.circle:nth-child(4){
  right: 40px;
  bottom: 80px;
  animation: bottomRight 8s linear  infinite;
}
.all-projects {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primary-color);
  font-size: 1.6rem;
  transition: .3s ease;
  justify-self: flex-start;
}
.all-projects:hover {
  transform: scale(1.1);
}
@keyframes topRight {
  0% {
    top: 50px;
    border-radius: 50%;
    transform: rotate(0);
  }
  50% {
    top: 300px;
    border-radius: 10%;
    transform: rotate(360deg);
  }
  100% {
    top: 50px;
    border-radius: 50%;
    transform: rotate(0);
  }
}@keyframes topLeft {
  0% {
    top: 100px;
  }
  50% {
    top: 300px;
  }
  100% {
    top: 100px;
  }
}
@keyframes bottomRight {
  0% {
    border-radius: 50%;
    transform: rotate(0);
    bottom: 80px;
  }
  50% {
    border-radius: 10%;
    transform: rotate(360deg);
    bottom: 350px;
  }
  100% {
    border-radius: 50%;
    transform: rotate(0);
    bottom: 80px;
  }
}
@keyframes bottomLeft {
  0% {
    bottom: 100px;
  }
  50% {
    bottom: 400px;
  }
  100% {
    bottom: 100px;
  }
}

@media screen and (max-width:768px){
  .circle{
    display: none;
  } 
  .projects {
    position: unset;
  }
}
