.container{
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 200px;
}
.effct-profile-img{
  position: relative;
  width: 16rem;
  height: 16rem;
  margin: 50px 0 0 50px;
  cursor: pointer;
}
.effct-profile-img-1 {
  background-color: var(--primary-color);
  width: 16rem;
  height: 16rem;
  border-radius: 20px;
  transform: rotate(0deg);
  transition: .5s ease;
  box-shadow: 0 0 10px var(--darken-primary-color);
  animation: roted 10s linear infinite;
}
.effct-profile-img:hover > .effct-profile-img-1{
  box-shadow: 0 0 70px var(--darken-primary-color);
}
.effct-profile-img-2{
  position: absolute;
  width: 16rem;
  height: 16rem;
  border-radius: 20px;
  top: 0;
  transition: .5s ease;
  overflow: hidden;
}

.effct-profile-img-3{
  position: absolute;
  background-color: #000000;
  width: 16rem;
  height: 16rem;
  border-radius: 20px;
  top: 0;
  animation: roted2 8s linear infinite;
  transition: .5s ease;
  overflow: hidden;
}
.social-media {
  align-self: flex-end;
  justify-self: flex-end;
}
.social-media a{
  font-size: 2rem;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
  transition: .3s linear;
  color: var(--primary-color);
  background: var(--light-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.social-media a:hover {
  transform: scale(1.1);
  color: var(--darken-primary-color);
}
.spadding{
  padding: 1.5px;
}
.so {
  width: 40px;
  height: 40px;
  border-radius: 50%;

}
.social-media a:hover> .so{
  box-shadow: 0 0 10px var(--darken-primary-color);
}
/*
.profile-name{

}
*/
.hello{
  font-size: 2rem;
  font-weight: 400;
}
.iam{
  font-size: 1.5rem;
  font-weight: 400;
}
.more {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  background-color: var(--primary-color);
  color: var(--light-color);
  margin: 10px 0;
  border-radius: 5px;
  border-bottom-left-radius: 2rem;
  transition: .5s;
  width: var(--main-width-btn);
  text-align: center;
  font-style: italic;
  box-shadow: var(--shadow-btn);
}

.more:hover{
  transform: scale(1.1);
  background-color: var(--darken-primary-color);
}
.light {
  color: var(--primary-color);
}
@keyframes roted {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes roted2 {
  from {transform: rotate(0deg);}
  to{transform: rotate(-360deg);}
}

@media screen and (max-width:768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 20px 50px;
    gap: 0;
  }
  .effct-profile-img {
    padding: 0;
    top: 120px;
    left: -25px;
  }
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .social-media a{
    margin: 0 10px;
  }
  .hello {
    margin-top: 200px;
  }
  .info-profile {
    text-align: center;
  }
  .more {
    border-bottom-left-radius: 5px;
    margin-bottom: 40px;
  }
  .text-info {
    margin: 10px 0;
  }
}
@media screen and (max-width:900px){
  .container {
    flex-direction: column;
  }
  .social-media {
    display: flex;
  }
  .social-media a {
    margin: 0 10px;
  }
}































