.single-service {
  width: 25rem;
  height: 37rem;
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 0 10px var(--darken-primary-color);
}
.single-service img {
  width: 100%;
  height: 25rem;
  object-fit: contain;
}
.tools {
  display: flex;
  list-style-type: none;
  margin: 10px 0;
  flex-wrap: wrap;
  gap: 5px;
}
.tools li {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--darken-primary-color);
  transition: .3s linear;
}
.tools li:hover {
  color: var(--light-color);
  background: var(--primary-color);
}
.service-title {
  font-weight: 500;
  color: var(--darken-primary-color);
}
