.description {
  height: 0;
  overflow: hidden;
}
.single-pro {
  width: 20rem;
  height: 25rem;
  overflow: hidden;
  background-color: var(--dark-color);
  border-radius: 2rem;
  box-shadow: 0px 0px 10px var(--darken-primary-color)/*rgba(0, 0, 0, .3)*/;
  transition: all .5s linear;
  max-height: max-content;
  border: 4px double var(--primary-color);
}
.single-pro h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

.single-pro img {
  height: 60%;
  width: 100%;
  object-fit: cover;
}
.single-pro-body {
  padding: 10px;
}
.more-ditails {
  display: block;
  text-decoration: none;
  color: var(--light-color);
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px 5px 5px 2rem;
  width: 100px;
  text-align: center;
  background-color: var(--primary-color);
  box-shadow: var(--shadow-btn);
  transition: .3s linear;
}
.more-ditails:hover {
  transform: scale(1.1);
}
.done, .progress,.utilities {
  display: block;
  font-style: italic;
}

@media screen and (max-width:768px){
  .more-ditails {
    border-radius: 5px;
    margin: 5px auto;
  }
}
