@import url('https://fonts.googleapis.com/css2?family=Prata&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color:#FF0042;
  --darken-primary-color: #F1003F;
  --scondary-color: #00B46D;
  --light-color: #F2F3F4;
  --main-font-family: 'Source Sans Pro', sans-serif;
  --dark-color: #17202A;
  --main-width-btn: 100px;
  --shadow-btn: 1px 1px 4px var(--darken-primary-color);
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  background-color: var(--dark-color);
  user-select: none;
  color: var(--light-color);
}
#root {
  width: 100%;
}

